html, body {
	min-width: 1200px;
	min-height: 1400px;
	margin: 0;
	padding: 0;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: #283136;
	background-color: #fff;
}

.visually-hidden {
	visibility: hidden;
}

a {
	text-decoration: none;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	background-color: #eeeeee;
	outline: 3px solid #FF0000;
}

.main-header-logo {
	margin-left: 140px;
	margin-top: 20px;
	margin-right: 100px;
	width: 160px;
	height: 65px;
}

.main-header-logo img:hover,
.main-header-logo img:focus {
	opacity: 0.8;
}

.main-header-logo img:active {
	opacity: 0.3;
}

.main-navigation-wrapper {
	width: 100%;
}

.container-head ul {
	display: inline-flex;
	margin-top: 50px;
}

.site-navigation li,
.cart-navigation li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation li {
	margin-left: 45px;
}

.cart-navigation li {
	margin-left: 200px
}

.site-navigation a,
.cart-navigation a {
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	font-weight: 500;
	text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:hover,
.cart-navigation a:focus {
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	color: #fb565a;
}

.site-navigation a:active,
.site-navigation a:active {
	opacity: 0.3;
	color: #000000;
}

.slides {
	background-color: #eeeeee;
	margin: 0;
	padding: 0;
}

.slides b {
	margin-bottom: 30px;
	color: #000000;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;

}

.slides p {
	padding-top: 27px;
	padding-bottom: 42px;
	color: #283136;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.slides a {
	width: 240px;
	height: 50px;
	background-color: #fb565a;
	color: #ffffff;
}

.slides a:hover,
.slides a:focus {
	background-color: #e74246;
	color: #ffffff;
}

.slides a:active {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.slide-1 {
	display: flex;
	flex-direction: row;
}

.slide1-left {
	padding: 0;
	width: 380px;
	margin-left: 115px;
	margin-top: 60px;
	margin-right: 80px;
	outline: 2px solid red;
}

.slide1-left a {
	padding: 19px 55px 18px 53px;
	background-color: #fb565a;
}

.slide1-left p {

}

.slide1-right {
	margin: 0;
	padding: 0;
}

.slide-2 {
	display: flex;
	flex-direction: row;
}

.slide2-left {
	width: 515px;
	margin-left: 115px;
	margin-top: 60px;
	padding-right: 0;
}

.slide2-left a {
	padding: 19px 55px 18px 53px;
	background-color: #fb565a;
}

.slide2-right {
	margin-left: 50px;
}


.slide-3 {
	display: flex;
	flex-direction: row;
}

.slide3-left {
	width: 460px;
	margin-left: 115px;
	margin-top: 60px;
}

.slide3-left p {
	width: 343px;
}

.slide3-left a {
	padding: 19px 55px 18px 53px;
	background-color: #fb565a;
}

.slide3-right {
	magrin: 0;
	padding: 0;
}

.services li {
}

.container-service ul {
	margin-left: 75px;
}

.services li {
	display: inline-flex;
	flex-direction: column;
	list-style: none;
	width: 300px;
	vertical-align: middle;
}

.services li:nth-child(2) {
	margin-left: 100px;
}

.services li:nth-child(3) {
	margin-left: 100px;
}

.services img {
	width: 300px;
	height: 146px;
}

.services h3 {
	color: #000000;
	line-height: 30px;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

.web-sites p {
	color: #283136;
	width: 250px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.presentation p {
	width: 220px;
}

.web-sites .button {
	width: 160px;
	height: 50px;
	background-color: #fb565a;
	color: #fff;
	text-transform: uppercase;
}

.web-sites .button:hover,
.web-sites .button:focus {
	width: 160px;
	height: 50px;
	background-color: #e74246;
	color: #fff;
	text-transform: uppercase;
}

.web-sites .button:active {
	width: 160px;
	height: 50px;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
	line-height: 18px;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}

.apps .button {
	width: 160px;
	height: 50px;
	background-color: #00ca74;
	color: #fff;
	text-transform: uppercase;
}

.apps .button:hover,
.apps .button:focus {
	width: 160px;
	height: 50px;
	background-color: #00bc6c;
	color: #fff;
	text-transform: uppercase;
}

.apps .button:active {
	width: 160px;
	height: 50px;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #00aa62;
	line-height: 18px;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}

.presentation .button {
	width: 160px;
	height: 50px;
	background-color: #efc84a;
	color: #fff;
	text-transform: uppercase;
}

.presentation .button:hover,
.presentation .button:focus {
	width: 160px;
	height: 50px;
	background-color: #eab534;
	color: #fff;
	text-transform: uppercase;
}

.presentation .button:active {
	width: 160px;
	height: 50px;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #e5a722;
	line-height: 18px;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}

.horizontal-line {
	border: none;
	margin-left: 115px;
    background-color: grey;
    width: 1160px;
	height: 2px;
}

.about {
	display: inline-flex;
	flex-direction: row;
}

.about-left {
	width: 650px;
	margin-left: 115px;
}

.about-left b {
	color: #000000;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.about-left p {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.about-left span {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
}

.about-left li {
	list-style: none;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	font-weight: 400;
}

.about-right {
	margin-left: 200px;
}

.about-logo {
	width: 360px;
	height: 208px;
}

.about-right p {
	color: #000000;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

.advantage {
	width: 20px;
}

.advantage td {
	padding-bottom: 30px;
	color: #000000;
	font-size: 45px;
	font-weight: 700;
	line-height: 10px;
}

.advantage th {
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.partners {
	margin-left: 125px;
}

.partners li {
	display: inline-flex;
	list-style: none;
	width: 300px;
	opacity: 0.2;
}

.partners li:hover,
.partners li:focus {
	opacity: 1;
}

.partners li:active {
	opacity: 0.1;
}

.write-to-us {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	position: relative;
	top: -350px;
	left: 115px;
	width: 319px;
	height: 310px;
	text-align: center;
	background-color: #fff;
}

.write-to-us b {
	color: #000000;
	padding-top: 30px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.write-to-us, .address {
	color: #666666;
	padding-top: 33px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}

.write-to-us, .phone {
	padding-top: 20px;
}

.write-to-us button {
	width: 219px;
	height: 50px;
	background-color: #fb565a;
	color: #ffffff;
	margin-top: 30px;
	margin-left: 45px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
}

.main-footer div {
	display: inline-flex;
	flex-direction: column;
}

.main-footer .social li {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	line-height: 85px;
	list-style: none;
	width: 78px;
	height: 78px;
	background-color: #e1e1e1;
	border-radius: 55px;
}

.main-footer .social li:hover,
.main-footer .social li:focus {
	align-items: center;
	line-height: 85px;
	list-style: none;
	width: 78px;
	height: 78px;
	background-color: #e74246;
	border-radius: 55px;
}

.main-footer .social li:active {
	align-items: center;
	line-height: 85px;
	list-style: none;
	width: 78px;
	height: 78px;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
	border-radius: 55px;
}

.main-footer b {
	color: #000000;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
}



.main-footer span {
	color: #444444;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.friends {
	margin-left: 139px;
}

.friends b {
	margin-bottom: 12px;
}

.modal-contacts {
	width: 960px;
	height: 590px;
	box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-contacts form, h2 {
	margin-left: 80px;
}

.modal-contacts h2 {
	margin-top: 73px;
	margin-bottom: 49px;
	color: #000000;
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
}

.modal-contacts label {

	color: #000000;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}

.modal-contacts input {
	position: relative;
	width: 360px;
	height: 50px;
	border: 2px solid #d7dcde;
	background-color: #ffffff;
}

.modal-contacts input:hover {
	border: 2px solid #b4b9bb;
	background-color: #ffffff;
}
.modal-contacts input:focus {
	border: 2px solid #000000;
	background-color: #ffffff;
}

.modal-contacts input:invalid {
	border: 2px solid #e74246;
	background-color: #ffffff;
}

.write-us-form input:nth-child(2) {
	width: 760px;
	height: 118px;
}

.write-us-form button {
	width: 260px;
	height: 50px;
	background-color: #fb565a;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.close-cross button {
	position: relative;
	top: -300px;
	left: 800px;
	width: 21px;
	height: 21px;
	opacity: 0.3;
}

.close-cross button:hover,
.close-cross button:focus {
	width: 21px;
	height: 21px;
	opacity: 1;
}

.close-cross button:active {
	width: 21px;
	height: 21px;
	opacity: 0.1;
}

.title-catalog h1 {
	position: relative;
	margin-top: 0;
	padding-top: 50px;
	padding-bottom: 0;
	padding-left: 360px;
	background-color: #eeeeee;
	height: 200px;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	color: #000000;
	
}

.filters {
	margin-left: 140px;
}

.filter legend {
	color: #000000;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.filter-range-wrapper {
	margin-bottom: 10px;
	padding: 39px 18px;
	border-radius: 3px;
	width: 260px;
	background-color: #eeeeee;
	margin-right: 140px;
}

.filter-range {
  	position: relative;
}

.filter-range-scale {
	height: 2px;
	background-color: #d7dcde;
}

.filter-range-bar {
	height: 2px;
	width: 75%;
	background-color: #00ca74;
}

.filter-range-handle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	border: 8px solid #ffffff;
	border-radius: 50%;
	background-color: #3f4445;
	cursor: pointer;
}

.filter-range-handle.min {
  	left: 0%;
}

.filter-range-handle.max {
  	left: 75%;
}

.filter-interval {
  	font-size: 0;
}

.filter-interval label {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	font-size: 16px;
	line-height: 1.375;
	text-transform: uppercase;
}

.filter-interval label:last-child {
  	text-align: right;
}

.filter-interval input {
	margin-left: 8px;
	width: 80px;
	height: 38px;
	border-radius: 2px;
	border: none;
	font: inherit;
	color: inherit;
	text-align: center;
	background-color: #3f4445;
}

fieldset {
	border: none;
}

legend {
	margin-left: 40px;
	margin-bottom: -15px;
}

.cost legend {
	margin-left: 0;
	margin-bottom: 40px;
}

.cost input {
	width: 80px;
	height: 38px;
	text-align: center;
	color: #283136;
	margin-right: 46px;
}

.mesh {
	margin-top: 20px;
	margin-left: -40px;
}

.mesh li {
	list-style: none;
}

.mesh input {
	opacity: 0.4;
}

.mesh input:hover,
.mesh input:focus {
	background-color: #4d4d4d;
}

.mesh input:disabled {
	opacity: 0.1;
}

.mesh label {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #283136;
}

.mesh label:hover,
.mesh label:focus {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #000000;
}

.mesh label:disabled {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	opacity: 0.3;
	color: #283136;
}

.feature {
	margin-left: -40px;
}

.feature li {
	list-style: none;
}

.feature input {
	opacity: 0.4;
}

.feature input:hover,
.feature input:focus {
	background-color: #4d4d4d;
}

.feature input:disabled {
	opacity: 0.1;
}

.feature label {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #283136;
}

.feature label:hover,
.feature label:focus {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #000000;
}

.feature label:disabled {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	opacity: 0.3;
	color: #283136;
}

.filters button {
	width: 260px;
	height: 50px;
	background-color: #eeeeee;
	margin-left: 0;
}

.filters button:hover,
.filters button:focus {
	background-color: #dfdfdf;
}

.filters button:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
}

.filters-catalog, .catalog-items {
	display: inline-flex;
	flex-direction: column;
}

.sort {
	display: inline-flex;
	flex-direction: row;
}

.sort b {
	display: inline-flex;
	flex-direction: row;
	margin-left: 0;
	color: #000000;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.sort-word li {
	display: inline-flex;
	flex-direction: row;
	list-style: none;
	opacity: 0.3;
	color: #000000;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
}

.sort-word li:hover,
.sort-word li:focus {
	opacity: 0.6;
	color: #000000;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
}

.sort-word li:active {
	color: #000000;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
}

.sort-dir li {
	display: inline-flex;
	flex-direction: row;
	list-style: none;
	opacity: 0.2;
}

.sort-dir li:hover,
.sort-dir li:focus {
	opacity: 0.3;
}

.sort-dir li:active {
	opacity: 1;
}
.catalog {
	width: 800px;
}

.catalog li {
	list-style: none;
}

.catalog li {
	display: inline-flex;
	flex-direction: column;
}

.head img {
	margin-bottom: -10px;
}

.catalog a {
	color: #000000;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.catalog span {
	color: #666666;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	word-wrap: nowrap;
}

.catalog button {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	width: 200px;
	height: 50px;
	background-color: #fb565a;
}

.catalog button:hover,
.catalog button:focus {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	width: 200px;
	height: 50px;
	background-color: #e74246;
}

.catalog button:active {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	width: 200px;
	height: 50px;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.pagination-list {
	margin-top: 60px;
	margin-left: 50px;
}


.pagination-list a {
	width: 50px;
	height: 50px;
	background-color: #eeeeee;
	color: #000;
	padding: 15px 19px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
}

.current {
	background-color: transparent;
	border: 3px solid #dbdbdb;
}

.pagination-list a:hover,
.pagination-list a:focus {
	width: 50px;
	height: 50px;
	background-color: #dfdfdf;
	color: #000;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.pagination-list a:active {
	width: 50px;
	height: 50px;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
	color: #000;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.pagination-list button {

}
