html, body {
	margin: 0;
	padding: 0;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: #283136;
	background-color: white;
	background-image: url ("img/white-back.png");
	background-repeat: no-repeat;
	background-position: top center;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 16px;
	line-height: 30px;
	color: rgba(0, 0, 0);
	background-color: gray;
	text-transform: uppercase;
}

.site-navigation,
.cart-navigation {
	list-style: none;
}

.site-navigation a,
.cart-navigation a {
	color: rgba(0, 0, 0);
}

.visually-hidden {
	visibility: hidden;
}

.title-catalog h1 {
	font-size: 55px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	color: #000000;
	line-height: 43px;
}

.modal-contacts h2  {
	font-family: "Roboto", sans-serif;
	font-size: 45px;
	font-weight: 500;
	color: #000000;
	line-height: 33px;
}